<%- partial('../sidebar') %>
<div id='content'>
  <div class='panel'>
    <div class='header'>
      <ul class='breadcrumb'>
          <li><a href='/'>主页</a><span class='divider'>/<%=blog.blogname%></span></li>
      </ul>
    </div>
    <div class='inner userinfo'>
      <div class='user_big_avatar'>
        <img src="<%= blogMaster.avatar_url %>" class="user_avatar" title="<%= blogMaster.loginname %>"/>
      </div>
      <a class='dark'><%= blogMaster.loginname %></a>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>博文列表</span>
    </div>
    <% if (typeof(blogList) !== 'undefined' && blogList.length > 0) { %>
    <%- partial('../blog/abstract', { collection: blogList, as: 'article' }) %>
    <div class='cell more'>
      <a class='dark' href="/blog/list/<%= blog._id %>">查看更多»</a>
    </div>
    <% } else { %>
    <div class='inner'>
      <p>该用户还没有发表过文章</p>
    </div>
    <% } %>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'>最近参与的话题</span>
    </div>
    <% if (typeof(recent_replies) !== 'undefined' && recent_replies.length > 0) { %>
    <%- partial('../topic/abstract', { collection: recent_replies, as: 'topic' }) %>
    <div class='cell more'>
      <a class='dark' href="/user/<%= user.loginname %>/replies">查看更多»</a>
    </div>
    <% } else { %>
    <div class='inner'>
      <p>无话题</p>
    </div>
    <% } %>
  </div>
</div>

<% if (typeof(current_user) !== 'undefined') { %>
<script>
  $(document).ready(function () {
    $('#set_star_btn').click(function () {
      var $me = $(this);
      var action = $me.attr('action');
      var params = {
        user_id: '<%= user._id %>',
        _csrf: '<%- csrf %>'
      };
      $.post('/user/' + action, params, function (data) {
        if (data.status === 'success') {
          if (action === 'set_star') {
            $me.html('取消达人');
            $me.attr('action', 'cancel_star');
          } else {
            $me.html('设为达人');
            $me.attr('action', 'set_star');
          }
        }
      }, 'json');
    });

    $('#set_block_btn').click(function () {
      var $me = $(this);
      var action = $me.attr('action');
      var params = {
        _csrf: '<%- csrf %>',
        action: action
      };
      if (action === 'set_block' && !confirm('确定要屏蔽该用户吗？')) {
        return;
      }
      $.post('/user/<%- user.loginname %>/block', params, function (data) {
        if (data.status === 'success') {
          if (action === 'set_block') {
            $me.html('取消屏蔽用户');
            $me.attr('action', 'cancel_block');
          } else if (action === 'cancel_block') {
            $me.html('屏蔽用户');
            $me.attr('action', 'set_block');
          }
        }
      }, 'json');
    })

    $('#delete_all').click(function () {
      var $me = $(this);
      var params = {
        _csrf: '<%- csrf %>',
      };
      if (!confirm('确定要删除吗？（不会永久删除，只做标记位）')) {
        return;
      }
      $.post('/user/<%- user.loginname %>/delete_all', params, function (data) {
        if (data.status === 'success') {
          alert('操作成功');
        }
      }, 'json');
    })
  });
</script>
<% } %>
